# Local backend (use after npm run seed-admins on backend)
VITE_API_URL=http://localhost:7777
VITE_SOCKET_URL=http://localhost:7777

# Remote backend (ensure that server's DB has admin users)
# VITE_API_URL=http://demo-api.grakairos.com
# VITE_SOCKET_URL=http://demo-api.grakairos.com

